.inline-title {
    animation:
        flicky 20s step-end infinite,
        glitch 20s step-end infinite;
}

// #region animations

@keyframes glitch {
    // #region First-Glitch

    4% {
        clip-path: polygon(evenodd, 75% 60%, 75% 08%, 13% 08%, 13% 68%, 74% 68%, 74% 80%, 10% 80%, 10% 19%, 73% 19%, 73% 85%, 93% 85%, 93% 28%, 53% 28%, 53% 05%, 97% 05%, 97% 38%, 17% 38%, 17% 82%, 21% 82%, 21% 08%, 74% 08%, 74% 12%, 33% 12%, 33% 22%, 20% 22%, 20% 48%, 55% 48%, 55% 21%, 02% 21%, 02% 43%, 57% 43%, 57% 35%, 38% 35%, 38% 51%, 20% 51%, 20% 28%, 66% 28%, 66% 99%, 51% 99%, 51% 72%, 43% 72%, 43% 39%, 36% 39%, 36% 47%, 43% 47%, 43% 40%, 37% 40%, 37% 35%, 28% 35%, 28% 60%);
    }

    5% {
        clip-path: polygon(evenodd, 00% 30%, 00% 60%, 10% 60%, 10% 50%, 90% 50%, 90% 56%, 49% 56%, 49% 92%, 15% 92%, 15% 28%, 28% 28%, 28% 39%, 75% 39%, 75% 35%, 22% 35%, 22% 95%, 71% 95%, 71% 97%, 30% 97%, 30% 15%, 47% 15%, 47% 73%, 09% 73%, 09% 15%, 16% 15%, 16% 25%, 83% 25%, 83% 47%, 90% 47%, 90% 35%, 28% 35%, 28% 70%, 05% 70%, 05% 18%, 20% 18%, 20% 48%, 76% 48%, 76% 95%, 28% 95%, 28% 73%, 54% 73%, 54% 15%, 83% 15%, 83% 03%, 15% 03%, 15% 00%, 72% 00%, 72% 50%, 60% 50%, 60% 59%, 17% 59%, 17% 80%, 35% 80%, 35% 30%);
    }

    // #endregion

    // #region Second-Glitch

    20% {
        clip-path: polygon(evenodd, 85% 45%, 78% 45%, 78% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 35%, 29% 35%, 29% 72%, 40% 72%, 40% 45%, 07% 45%, 07% 64%, 54% 64%, 75% 64%, 75% 69%, 54% 69%, 54% 82%, 54% 88%, 19% 88%, 19% 04%, 39% 04%, 39% 14%, 76% 14%, 76% 52%, 64% 52%, 64% 82%, 05% 82%, 05% 72%, 23% 72%, 23% 35%, 19% 35%, 19% 08%, 36% 08%, 36% 30%, 72% 30%, 72% 16%, 01% 16%, 01% 56%, 50% 56%, 50% 04%, 85% 04%);
    }

    22% {
        clip-path: polygon(evenodd, 00% 67%, 82% 67%, 82% 61%, 41% 61%, 41% 17%, 58% 17%, 91% 17%, 91% 35%, 68% 35%, 68% 92%, 44% 92%, 20% 92%, 20% 05%, 44% 05%, 99% 05%, 99% 83%, 62% 83%, 62% 57%, 38% 57%, 43% 57%, 43% 50%, 50% 50%, 50% 70%, 81% 70%, 81% 70%, 52% 70%, 52% 78%, 11% 78%, 11% 00%, 88% 00%, 88% 21%, 09% 21%, 09% 43%, 83% 43%, 83% 27%, 95% 27%, 95% 09%, 29% 09%, 29% 87%, 34% 87%, 34% 56%, 25% 56%, 25% 24%, 25% 34%, 05% 34%, 05% 25%, 00% 25%);
    }

    23% {
        clip-path: polygon(evenodd, 00% 83%, 87% 83%, 87% 10%, 28% 10%, 28% 25%, 41% 25%, 41% 75%, 13% 75%, 13% 55%, 84% 55%, 84% 34%, 63% 34%, 63% 49%, 44% 49%, 44% 13%, 52% 13%, 52% 67%, 80% 67%, 80% 16%, 41% 16%, 36% 16%, 36% 22%, 78% 22%, 78% 59%, 85% 59%, 85% 62%, 97% 62%, 97% 87%, 60% 87%, 60% 29%, 97% 29%, 97% 76%, 43% 76%, 43% 78%, 07% 78%, 07% 31%, 64% 31%, 64% 93%, 41% 93%, 41% 92%, 25% 92%, 25% 20%, 00% 20%);
    }

    // #endregion

    // #region Third-Glitch

    40% {
        clip-path: polygon(evenodd, 11% 99%, 11% 30%, 83% 30%, 83% 64%, 30% 64%, 30% 37%, 43% 37%, 43% 12%, 72% 12%, 72% 71%, 89% 71%, 89% 96%, 28% 96%, 28% 77%, 37% 77%, 37% 46%, 46% 46%, 46% 78%, 54% 78%, 54% 75%, 70% 75%, 70% 92%, 95% 92%, 95% 61%, 69% 61%, 69% 33%, 03% 33%, 03% 91%, 64% 91%, 64% 58%, 03% 58%, 03% 86%, 85% 86%, 85% 75%, 07% 75%, 07% 68%, 76% 68%, 76% 43%, 23% 43%, 23% 99%, 77% 99%);
    }

    // #endregion

    // #region Fourth-Glitch

    50% {
        clip-path: polygon(evenodd, 00% 06%, 88% 06%, 88% 15%, 68% 15%, 68% 93%, 62% 93%, 62% 16%, 06% 16%, 06% 26%, 88% 26%, 88% 34%, 08% 34%, 08% 75%, 54% 75%, 54% 87%, 18% 87%, 18% 36%, 73% 36%, 73% 55%, 89% 55%, 89% 39%, 30% 39%, 30% 66%, 86% 66%, 86% 47%, 45% 47%, 45% 10%, 35% 10%, 35% 93%, 23% 93%, 23% 11%, 13% 11%, 13% 46%, 47% 46%, 47% 85%, 47% 100%, 00% 100%);
    }

    52% {
        clip-path: polygon(evenodd, 52% 35%, 34% 35%, 39% 35%, 39% 13%, 89% 13%, 89% 59%, 26% 59%, 26% 18%, 71% 18%, 71% 80%, 60% 80%, 60% 89%, 04% 89%, 04% 25%, 65% 25%, 65% 30%, 07% 30%, 07% 11%, 88% 11%, 88% 26%, 06% 26%, 06% 77%, 81% 77%, 81% 68%, 46% 68%, 46% 22%, 88% 22%, 88% 57%, 84% 57%, 84% 20%, 08% 20%, 08% 11%, 57% 11%, 57% 44%, 98% 44%, 98% 64%, 34% 64%, 34% 21%, 39% 21%, 39% 04%, 17% 04%, 17% 33%, 31% 33%, 31% 65%, 83% 65%, 83% 49%, 52% 49%, 52% 50%, 73% 50%, 73% 54%, 55% 54%, 55% 84%, 23% 84%, 23% 07%, 52% 07%);
    }

    // #endregion

    // #region Fifth-Glitch

    77% {
        clip-path: polygon(evenodd, 00% 33%, 02% 33%, 02% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 05% 19%, 05% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 05% 50%, 05% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 04% 92%, 04% 36%, 24% 36%, 24% 70%, 01% 70%, 01% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 01%, 60% 01%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%, 68% 33%);
    }

    80% {
        clip-path: polygon(evenodd, 09% 68%, 91% 68%, 91% 44%, 78% 44%, 78% 24%, 35% 24%, 35% 89%, 38% 89%, 38% 24%, 69% 24%, 69% 05%, 96% 05%, 96% 10%, 64% 10%, 64% 89%, 18% 89%, 18% 23%, 98% 23%, 98% 25%, 92% 25%, 92% 88%, 80% 88%, 80% 51%, 28% 51%, 28% 62%, 87% 62%, 87% 39%, 92% 39%, 92% 05%, 49% 05%, 49% 99%, 88% 99%, 88% 94%, 48% 94%, 48% 87%, 49% 87%, 49% 24%, 60% 24%, 60% 42%, 37% 42%, 37% 51%, 23% 51%, 23% 54%, 97% 54%, 97% 29%, 31% 29%, 31% 11%, 00% 11%, 00% 97%, 83% 97%, 83% 96%, 28% 96%, 28% 69%, 45% 69%, 45% 27%, 18% 27%, 18% 24%, 90% 24%, 90% 37%, 09% 37%);
    }

    81% {
        clip-path: polygon(evenodd, 00% 12%, 89% 12%, 89% 72%, 63% 72%, 63% 38%, 45% 38%, 45% 40%, 66% 40%, 66% 36%, 83% 36%, 83% 70%, 11% 70%, 11% 64%, 42% 64%, 42% 39%, 53% 39%, 53% 25%, 87% 25%, 87% 62%, 70% 62%, 70% 50%, 22% 50%, 22% 42%, 99% 42%, 99% 10%, 86% 10%, 86% 31%, 85% 31%, 85% 14%, 11% 14%, 11% 08%, 77% 08%, 77% 54%, 70% 54%, 70% 61%, 99% 61%, 99% 17%, 00% 17%, 00% 60%, 49% 60%, 49% 31%, 08% 31%, 08% 25%, 49% 25%, 64% 25%, 64% 42%, 65% 42%, 65% 43%, 04% 43%, 04% 90%, 43% 90%, 43% 94%, 48% 94%, 48% 03%, 00% 3%);
    }

    // #endregion

    // #region Reset

    00%,
    06%,
    21%,
    25%,
    42%,
    51%,
    53%,
    78%,
    82% {
        clip-path: none;
    }

    // #endregion
}

@keyframes flicky {
    // #region First-Glitch

    4% {
        filter: drop-shadow(0 0 2px);
        left: -18px;
        text-shadow: 8px 11px 4px #ff1ba0;
        top: 0;
    }

    5% {
        filter: drop-shadow(0 0 2px);
        left: 8;
        text-shadow: -11px 6px 4px #30e0ff;
        top: 12px;
    }

    // #endregion

    // #region Second-Glitch

    20% {
        filter: drop-shadow(0 0 2px);
        left: -4px;
        text-shadow: 6px 6px 4px #ead5a9;
        top: 12px;
    }

    21% {
        left: 8px;
        top: 6px;
    }

    22% {
        filter: drop-shadow(0 0 2px);
        left: 4px;
        text-shadow: 6px 6px 4px #a88965;
        top: 0;
    }

    23% {
        filter: drop-shadow(0 0 2px);
        left: -12px;
        text-shadow: 23px 9px 4px #dfbd92;
        top: 4px;
    }

    // #endregion

    // #region Third-Glitch

    40% {
        filter: drop-shadow(0 0 2px);
        left: -12px;
        text-shadow: 23px 9px 4px #94F700;
        top: -4px;
    }

    // #endregion

    // #region Fourth-Glitch

    50% {
        filter: drop-shadow(0 0 2px);
        left: -6px;
        text-shadow: -14px 8px 4px #17f1f1;
        top: 18px;
    }

    52% {
        filter: drop-shadow(0 0 2px);
        left: 24px;
        text-shadow: 15px -4px 4px #159bee;
        top: 4px;
    }

    // #endregion

    // #region Fifth-Glitch

    77% {
        filter: drop-shadow(0 0 2px);
        left: -6px;
        text-shadow: 6px 6px 6px #ff3dec;
        top: 2px;
    }

    80% {
        filter: drop-shadow(0 0 2px);
        left: -12px;
        text-shadow: 6px 6px 6px #b330ff;
        top: 18px;
    }

    81% {
        filter: drop-shadow(0 0 2px);
        left: 12px;
        text-shadow: 6px 6px 6px #b171d5;
        top: 24px;
    }

    // #endregion

    // #region Reset

    00%,
    06%,
    24%,
    41%,
    53%,
    78%,
    82% {
        left: 0;
        opacity: 1;
        top: 0;
        text-shadow: none;
        color: var(--inline-title-color);
        filter: drop-shadow(0 0 4px) blur(0);
    }

    // #endregion
}

// #endregion
